/* Johnson Vieira - johnsonvieira.com */
/* Johnson Vieira - johnsonvieira.com */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Johnson Vieira - johnsonvieira.com */
/* Johnson Vieira - johnsonvieira.com */
.p {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
}
.h1 {
  font: 700 35px 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.h2 {
  font: 600 25px 'Open Sans', sans-serif;
  margin: 0;
}
/* Johnson Vieira - johnsonvieira.com */
.menu {
  background: #005da8 !important;
  border-bottom: solid #43a047 4px;
}
.menu .bg-light {
  background: #005da8 !important;
}
.menu .navbar {
  padding: 0 0 1.5rem;
}
.menu .navbar-light .navbar-nav .nav-link {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
  color: #fff;
  margin: 30px 0 0;
  font-size: 19px;
}
.menu .navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: #fff;
  color: #fff;
  font-size: 24px;
  margin: 0px 0 0 10px;
}
.menu .botao-entrar {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
  text-transform: uppercase;
  color: #fff;
  background: #025190;
  padding: 11px;
  font-size: 20px;
  text-align: center;
}
.menu .botao-entrar a {
  color: #fff;
}
/* Johnson Vieira - johnsonvieira.com */
footer {
  background: #005da8;
  border-top: solid #43a047 4px;
  padding: 1.5rem 0 1.5rem;
}
footer ul {
  padding: 0;
}
footer ul li {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
  color: #fff;
  list-style: none;
  font-size: 20px;
  margin: 0 0 10px;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #fff;
}
footer .botao-entrar {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
  text-transform: uppercase;
  color: #fff;
  background: #025190;
  padding: 11px;
  font-size: 20px;
  text-align: center;
}
footer .botao-entrar a {
  color: #fff;
}
footer p {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
  color: #fff;
}

.cadastro-noticia{
  min-width: 80%;
}

.modal-header h2 {
  font: 600 25px 'Open Sans', sans-serif;
  margin: 0;
  color: #43a047;
}
.modal-body {
  font: 400 16px 'Open Sans', sans-serif;
  color: #535353;
}
.modal-body a {
  color: #43a047;
}
.modal-footer .btn1 {
  background-color: #43a047;
  border-color: #43a047;
  border-radius: 0;
}
.modal-footer .btn1 h2 {
  font: 600 25px 'Open Sans', sans-serif;
  margin: 0;
}
.modal-footer .btn2 {
  background-color: #af1e92;
  border-color: #af1e92;
  border-radius: 0;
}
.modal-footer .btn2 h2 {
  font: 600 25px 'Open Sans', sans-serif;
  margin: 0;
}

/* Johnson Vieira - johnsonvieira.com */
@media (max-width: 576px) {
  .menu .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .menu .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }
}
